html {
  scroll-behavior: smooth;
}

body {
    margin: 20px auto;
    width: 95%;
    font-family: 'Sans-Serif', 'Helvetica', 'Arial';
	 font-size:100%;
	 list-style: none;
}
/* nav ul, footer ul { */
/*     font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
/*     padding: 2px; */
/* 	 text-align:center; */
/*     list-style: none; */
/*     font-weight: bold; */
/* 	 background-color: #e5680e; */
/* 	 color:#ffffff; */
/* } */

/* nav ul li, footer ul li { */
/*     display: inline; */
/*     margin-right: 5px; */
/*     margin-left: 5px; */
/* 	 font-size:1.3em; */
/*     padding: 4px; */
/* } */

nav a{
	 color:#ffffff;
}

table.nav{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 4px;
	 font-size:1.3em;
	 color:#ffffff;
	 width:100%;
    margin-right: 0px;
    margin-left: 0px;
	 background-color:#e5680e;
}

th.nav{
    display: inline;
	 text-align:center;
	 width:20%;	 
}

h1 {
	 color:#556b2f;
    font-size: 200%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
	 color:#6b8e23;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 170%;
}


h3 {
    font-size: 140%;
	 color:#bc8f8f;
}

td.quicklinks li {
	 font-size : 90%;
    margin-left: -2.0em;
	 line-height : 1.5em;
}

td.latest {
	 font-size : 120%;
	 opacity : .5;
	 /* line-height : .5em; */
}

a {
    text-decoration: none;
	 color: #e5680e;
    /* color: #1999; */
	 opacity: 1;
}

a:hover {
    text-decoration: underline;
	 color: #1099;
	 opacity: 1;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

p.news {
	 font-size:90%;
	 font-weight: bold;
	 color:black;
	 font-style:normal;
    animation: blinker 2s linear infinite;
	 opacity:1
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

p.news img {
	 height:20px;
	 width:20px;
	 animation-name: example;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	 
}

footer a {
    color: #ffffff;
	 
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

span {
	   display: block;
}

ul.posts li {
    list-style: none;
}

p.normal {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

a.subsec {
    font-size: 1em;
    text-decoration: none;
    color: #999;
}


div.test {
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

td.box {
	margin:0;
	padding:0;
	border:0;
	height: 3em;
	border: 1px solid #000;	 
}

div.research {
	 font-size:110%;
	 position: relative;
}

div.research li {
	 font-size:125%;
	 position: relative;
}

div.fun {
/*
  width: 100px;
  height: 100px;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  background-color: red;
*/
	 font-size:80%;
	 position: relative;
	 animation-name: slidein;
	 animation-duration: 2s;
	 line-height:1.5em;
}

td li {
  margin-left:-25px;
}

div.fun li {
  margin-left:-25px;
}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  color: #117a65;
  font-size:110%;
  opacity: 1;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 25em;
  color: #ffffff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  font-size:.75em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  top: 95%;
  left: 50%;
  margin-left: -60px;

  /* /\* Fade in tooltip *\/ */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #00688b transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  font-size: .7em;
  visibility: visible;
  opacity: .97;
  background-color: #00688b;
} 

.tooltip img {
	 width:120%;
	 title:cover
}

.scroll {
 height: 200pt;	
 overflow: hidden;
 position: relative;
 width: 100%;
 text-align: left;
 font-size: 65%;
 animation-delay: -1s;
}

.scroll li {
 position: absolute;
 line-height: 1em;
 margin: 0;
 /* Starting position */
 /* -moz-transform:translateY(-100%); */
 /* -webkit-transform:translateY(-100%);	 */
 transform:translateY(-100%);
 /* Apply animation to this element */	
 /* -moz-animation: scroll 0s linear infinite; */
 /* -webkit-animation: scroll 0s linear infinite; */
 animation: scroll 8s linear infinite;
}
/* Move it (define the animation) */
/* @-moz-keyframes scroll { */
/*  0%   { -moz-transform: translateY(100%); } */
/*  100% { -moz-transform: translateY(-100%); } */
/* } */
/* @-webkit-keyframes scroll { */
/*  0%   { -webkit-transform: translateY(100%); } */
/*  100% { -webkit-transform: translateY(-100%); } */
/* } */
@keyframes scroll {
 0%   { 
 /* -moz-transform: translateY(-100%); /\* Firefox bug fix *\/ */
 /* -webkit-transform: translateY(-100%); /\* Firefox bug fix *\/ */
 transform: translateY(20%); 		
 }
 100% { 
 /* -moz-transform: translateY(-100%); /\* Firefox bug fix *\/ */
 /* -webkit-transform: translateY(-100%); /\* Firefox bug fix *\/ */
 transform: translateY(-70%); 
 }
}
