body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	 font-size:.7em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 2px;
	 text-align:center;
    list-style: none;
    font-weight: bold;
	 background-color: #e5680e;
	 color:#ffffff;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
	 font-size:1.3em;
    padding: 4px;
}

nav a{
	 color:#ffffff;
}

li {
	 	 font-size:1.5em;
}

td.quicklinks li {
	 font-size : 1em;
    margin-left: -2.5em;
}

td.mkd {
	 font-size : .7em;
}

div.mkd {
	 font-size : .8em;
}

a {
    text-decoration: none;
    color: #1999;
}

a:hover {
    text-decoration: underline;
	 color: #1099;
}

h1 {
    font-size: 20pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 18pt;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

p.normal {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

a.subsec {
    font-size: 1em;
    text-decoration: none;
    color: #999;
}


@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
div.fun {
/*
  width: 100px;
  height: 100px;
  background-color: red;
  animation-iteration-count: infinite;
  animation-direction: reverse;
*/
  position: relative;
  animation-name: slidein;
  animation-duration: 2s;
}
