---
title: Home page of Emilio Tuosto
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ site.title }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />

	 <nav>
		<table class="nav">
		<tr>
		  <th><a href="/home/">Home</a></th>
		  <th><a href="/home/research">Research</a></th>
		  <th><a href="/home/papers">Publications</a></th>
		  <th><a href="/home/talks">Talks</a></th>
		  <th><a href="/home/teaching">Teaching</a></th>
		</tr>
		</table>
	 </nav>
 
 
	 <title>{{ site.title }}</title>
	 <!-- link to main stylesheet -->
	 <link href="{{ 'css/main.css' | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
		
	 <div class="container">

		{{ content }}

	 </div><!-- /.container -->
	 <!-- <footer> -->
	 <!--   <ul> -->
	 <!--     <li><a href="mailto:emiliodottuosto@gssi.it">email</a> (replace 'dot' with '.')</li> -->
	 <!--     <li><a href="https://github.com/emwww">github.com/emwww</a></li> -->
	 <!-- 	</ul> -->
	 <!-- </footer> -->
  </body>
</html>
