---
title: Home page of Emilio Tuosto
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ site.title }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />

	 <nav>
	   <ul>
	     <li><a href="/home/">Home</a></li>
	     <li><a href="/home/research">Research</a></li>
	     <li><a href="/home/papers">Publications</a></li>
	     <li><a href="/home/talks">Talks</a></li>
	     <li><a href="/home/courses">Advanced Courses</a></li>
		  <li><a href="/home/about">About <img alt="me" src="/home/images/em.jpg" width="1%"/></a></li>
		  <li><a href="https://scholar.google.com/citations?user=UsADbUQAAAAJ&hl=en"><img alt="scholar profile" src="/home/images/avatar_scholar_256.png" width="2%"/></a></li>
		  <li><a href="https://orcid.org/0000-0002-7032-3281"><img alt="ORCID" src="/home/images/orcid.png" width="2%"/></a></li>
		  <li><a href="http://www.informatik.uni-trier.de/~ley/pers/hd/t/Tuosto:Emilio.html"><img alt="DBLP" src="/home/images/dblp.png" width="6%"/></a></li>
	     <!-- <li><a href="/blog">Blog</a></li> -->
	   </ul>
	 </nav>
 
	 <title>{{ site.title }}</title>
	 <!-- link to main stylesheet -->
	 <link href="{{ 'css/main.css' | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>
		
	 <div class="container">

		{{ content }}

	 </div><!-- /.container -->
	 <footer>
	   <ul>
	     <li><a href="mailto:emiliodottuosto@gssi.it">email</a> (replace 'dot' with '.')</li>
	     <li><a href="https://github.com/emwww">github.com/emwww</a></li>
		</ul>
	 </footer>
  </body>
</html>
